.displayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: auto;
  height: 350px;
  @media (max-width: 1024px) {
    width: 90%;
  }
  .user-amount {
    align-self: flex-start;
  }
  .converted-amount {
    font-size: 10rem;
    margin: 0;
    @media (max-width: 500px) {
      font-size: 4rem;
      margin: auto;
    }
  }
  .exchange-rate {
    align-self: flex-end;
    color: grey;
  }
}
.displayer-loading,
.displayer-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
