@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  background-color: hsl(0, 0%, 90%);
}
html.light {
  background-color: hsl(0, 0%, 90%);
  --button-shadow-color: hsl(0, 0%, 10%);
  --dropdown-background-color: hsl(0, 0%, 95%);
  --dropdown-border-color: $secondary-blue;
  --converter-background-color: black;
  color: hsl(0, 0%, 7%);
}
html.dark {
  background-color: hsl(0, 0%, 10%);
  --button-shadow-color: hsl(0, 0%, 30%);
  --dropdown-background-color: hsl(0, 0%, 15%);
  --dropdown-border-color: white;
  --converter-background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 93%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 1400px;
  margin: auto;
}
main .chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  margin: 50px 0;
}
main .chart .chart-title {
  align-self: flex-start;
}
main .chart .chart-error,
main .chart .chart-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}